<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>

    <title>Samuel Sharon</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 d-none d-sm-block px-1 position-fixed fixed-sidebar"
                id="sticky-sidebar">
                <div class="text-center fixed-sidebar-contents">
                    
                    <a class="color-2" href="/">
                        <h1 class="content-2" style="color: orange;">Profile</h1>
                    </a>
                    
                    
                    <a class="color-2" href="/classes/">
                        <h1 class="content-2" style="color: orange;">Classes</h1>
                    </a>
                    <a class="color-2" href="/classes/add">
                        <h1 class="content-2" style="color: orange;">Add Class</h1>
                    </a>
                    <br>
                    
                    
                </div>
            </div>
            <div class="offset-xl-1 offset-lg-2 offset-md-2 offset-sm-3" id="main">

                <nav class="d-block d-sm-none navbar navbar-expand-lg navbar-dark navbar-inverse fixed-top">
                    <a class="navbar-brand" href="#">Tabs</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="/">Profile</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/classes/">Classes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/classes/add">Add Class</a>
                        </li>
                    </div>
                </nav>
                {% block content %}
                {% endblock %}
                <div style="width: 100%; background-color: #000D00;">
                    <p style="color: #000D00;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas magnam nobis fugit quis odit aut repudiandae, corporis, iusto repellendus facilis similique pariatur, voluptate veritatis laudantium facere et a accusamus ratione? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio dolore velit earum necessitatibus ipsum nostrum tenetur vel sed nisi aspernatur nobis, fugiat eius nam pariatur veniam corporis? In, repudiandae ex?</p>
                </div>
            </div>
        </div>
    </div>
    <!-- necessary for the bootstrap navbar -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>