{% extends "base.html" %}
{% block content %}

<div class="container text-center content" style="max-width: 600px;">
    <div class="whitespace-2"></div>
    <div class="text-center">
        <h1 class="title-name-2 color-2">Add Subjects</h1>
        <br>
    </div>
    <form method='POST'> {% csrf_token %}
        {{ form.as_p}}
        <input type='submit' value='save' />
    </form>
    <br>
    <a href="/classes/">Show Me The Result</a>
</div>
<div class="whitespace-1"></div>
{% endblock %}